.topLogo {
  height: auto;
  margin-top: 46px;
}
header.supports-backdrop-blur\:bg-background\/60.bg-background\/95.sticky.top-0.z-\[60\].flex.h-16.w-full.items-center.border-b.backdrop-blur.duration-200.border-b-border
  .topLogo {
    height: 37px;
    margin-top: 10px;
    margin-bottom: 10px;
}
body,html{overflow-x:hidden}
button {
  touch-action: manipulation;  /* Prevents gestures like double-tap zoom or drag */
}
body {
  DIRECTION: RTL;
}th {
  text-align: right !important;
}.topLogo {
  height: auto;
  margin-top: 0;
}header2 {
  margin-top: 11px;
  margin-bottom: -38px !important;
}button {
  direction: ltr;
}.mr-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}div  {
  direction: rtl;
}button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: button;
  background-image: none;
  direction: rtl;
}.ml-1 {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}p.text-muted-foreground\/60.text-xs {
  display: none;
}